:root {
  --text-color: #1e1c1b;
  --bg-color: #EDE7D9;
  --btn-text-color: #1e1c1b;
  --btn-hover-text-color: #736B60;
  --btn-bg-color: #D5A021;
  --btn-hover-bg-color: #1e1c1b;
  --header-bg-color: #D5A021;
  --header-text-color: #4B4237;
  --footer-bg-color: #444e74;
  --footer-text-color: #EDE7D9;
  --card-bg-color: #f1f1f1;
  --input-border-color: #ddd;
}

.theme-dark {
  --text-color: #eee;
  --bg-color: #252222;
  --btn-text-color: #2e2b2b;
  --btn-hover-text-color: #736B60;
  --btn-bg-color: #D5A021;
  --btn-hover-bg-color: #14d3c3;
  --header-bg-color: #1b1919;
  --header-text-color: #EDE7D9;
  --footer-bg-color: #282d42;
  --footer-text-color: #EDE7D9;
  --card-bg-color: #1b1b1b;
  --input-border-color: #363333;
}
